
<div class="section">
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Form &amp; Chart</a></li>
    <li class="tabs-title"><a href="#panel2" aria-selected="true">Image</a></li>
    <li class="tabs-title"><a href="#panel3" aria-selected="true">Tabs</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <!-- TAB: Nearby Nature -->
    <div class="tabs-panel is-active" id="panel1">
      <h3>Embed</h3>
      <!-- <form> -->
        <label>Form URL
          <input id="input-url" type="text" placeholder="https://goo.gl/forms/UNIQUE_ID" />
        </label>
        <label>Graph Embed Code
          <textarea id="input-embedcode" class="font-embedcode" rows="3" placeholder="<iframe></iframe>"></textarea>
        </label>
        <input id="input-generate" type="button" class="button" value="Generate Code" />
      <!-- </form> -->
      <label>
        Generated Code
        <textarea id="textarea-output" class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
      <hr/>
      <h3>How To</h3>
      <br/>
      <h4>1. Create a new Google Form</h4>
      <p>From <a href="https://drive.google.com">Google Drive</a> click New > Google Forms.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-1.png" %>"><img src="<%= asset_path "img1-1.png" %>" /></a></div>
      <br/>
      <h4>2. Fill out form with desired fields</h4>
      <p>In the example below, we are creating a form that asks for the current temperature, in celsius. For graphing results later, it's best to stick to only one type of measurement.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-2.png" %>"><img src="<%= asset_path "img1-2.png" %>" /></a></div>
      <br/>
      <h4>3. Get Form URL</h4>
      <p>Click the "SEND" button at the top, and a dialog window will appear. Click on the chain icon to get a hyperlink and then click the "Copy" button to copy it to your clipboard. <b>This is the link that you will put in the "Form URL" field above</b>.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-3.png" %>"><img src="<%= asset_path "img1-3.png" %>" /></a></div>
      <br/>
      <h4>4. Connect the form to a new Google Sheet</h4>
      <p>Click the "Responses" tab, then click on the Google Sheets icon.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-4.png" %>"><img src="<%= asset_path "img1-4.png" %>" /></a></div>
      <br/>
      <p>Then you will see a dialog window that looks similar to the one below. Select "create a new spreadsheet" and then click "CREATE".</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-4b.png" %>"><img src="<%= asset_path "img1-4b.png" %>" /></a></div>
      <br/>
      <h4>5. Open spreadsheet</h4>
      <p>After creating, you should be redirected. Otherwise, you will see a pop-up at the bottom of the screen indicating a new spreadsheet was created. Click to open. You can also find the new spreadsheet from the main <a href="https://drive.google.com">Google Drive</a> page.</p>
      <p>The new spreadsheet should be empty except for the column headers Timestamp and Temperature.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-5.png" %>"><img src="<%= asset_path "img1-5.png" %>" /></a></div>
      <p>Below, I have added some data to the spreadsheet so that you can see how it might look when data gets entered, but you can continue to the next step even with no data entered.</p>
      <br/>
      <h4>6. Highlight all of the data</h4>
      <p>Click the gray box in the upper-left corner of the table to highlight the entire table.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-6.png" %>"><img src="<%= asset_path "img1-6.png" %>" /></a></div>
      <br/>
      <h4>7. Create a chart from the data</h4>
      <p>Select Insert > Chart to create a new chart. From here you can modify the type of chart (bar, line, scatter, etc.) and other options.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-7.png" %>"><img src="<%= asset_path "img1-7.png" %>" /></a></div>
      <br/>
      <h4>8. Publish to the web</h4>
      <p>Once you have made your modifications to the chart, you are ready to create an embed code for your chart. Select File > Publish to the web.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-8.png" %>"><img src="<%= asset_path "img1-8.png" %>" /></a></div>
      <p>When the dialog window appears, select the "Embed" tab. Then select the option named after the table containing the chart (as opposed to the Entire Document option).</p>
      <p>Then, click the "Publish" button.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-8b.png" %>"><img src="<%= asset_path "img1-8b.png" %>" /></a></div>
      <br/>
      <h4>9. Copy the Graph Embed Code</h4>
      <p>After clicking Publish, the embed code will appear in a text box. Copy this to your clipboard. <b>This is the embed code that you will put in the "Graph Embed Code" field above</b>.</p>
      <div class="callout" style="margin:10px"><a target="_blank" href="<%= asset_path "img1-9.png" %>"><img src="<%= asset_path "img1-9.png" %>" /></a></div>
    </div>
    <!-- TAB: Image -->
    <div class="tabs-panel" id="panel2">
      <!-- Image -->
      <h3>Embed</h3>
      <!-- <form> -->
        <label>Image URL
          <input type="text" placeholder="https://example.com/image.jpg" />
        </label>
        <input id="input-generate2" type="button" class="button" value="Generate Code" />
      <!-- </form> -->
      <label>
        Generated Code
        <textarea class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
    <!-- TAB: Tabs -->
    <div class="tabs-panel" id="panel3">
      <!-- Tabs -->
      <h3>Embed</h3>
      <!-- <form> -->
        <div style="border:1px solid #e6e6e6;padding: 15px;">
          <label>Tab Title
            <input type="text" placeholder="Title" />
          </label>
          <label>Tab Content
            <input type="text" placeholder="HTML code goes here" />
          </label>
          <input type="button" class="button alert" value="Delete" />
          <input type="button" class="button success" value="Add" />
        </div>
      <!-- </form> -->
      <br/>
      <input id="input-generate3" type="button" class="button" value="Generate Code" />
      <label>
        Generated Code
        <textarea class="font-embedcode" rows="3" placeholder="<a></a>"></textarea>
      </label>
    </div>
  </div>
</div>
