<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nearby Nature</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="section">
      <ul class="tabs" data-tabs id="example-tabs">
        <%= yield :tabs %>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">

        <%= yield %>

      </div>
    </div>

  </body>
</html>
